.takeQuiz {
  background: var(--color-accent-blue);
}

.container {
  padding: 80px 64px;
  padding-bottom: 64px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 14px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 24px;
}

@media (max-width: 1280px) {
  .takeQuiz {
    padding: 60px 24px;
  }

  .container {
    max-width: 420px;
    margin: 0 auto;
    padding: 60px 24px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .button {
    width: 100%;
  }
}
