.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.container {
  width: 150px;
  height: 150px;
}

.animation {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .container {
    width: 120px;
    height: 120px;
  }
}

