.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .description {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
