.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.withoutMargin {
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .subtitle {
    font-size: 18px;
  }
}
