@import "../src/shared/styles/variables.module.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(255, 255, 255);
  color: var(--color-black);
  font-family: var(--font-sans);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttonContainerQuiz {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 40px 20px;
  background: linear-gradient(to top, var(--color-background) 70%, transparent);
  z-index: 10;
}
