.border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e4e7;
  border-radius: 20px;
  flex-shrink: 0;
  position: relative;
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  flex-shrink: 0;
  position: relative;
}

.avatars {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  position: relative;
}

.peopleWebp {
  width: 56px;
  height: 24px;
  aspect-ratio: 2.33;
  background-image: url(https://d2tpw6ibsnrlae.cloudfront.net/local_components/4/media/people-webp.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.textBlock {
  display: inline-flex;
  align-items: flex-start;
  padding: 0 8px;
  flex-shrink: 0;
  position: relative;
}

.number {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #0a0a0a;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
}

.text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #737373;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: -1px 0 0 -0.00000000000284px;
}
