.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .title {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
