.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.logo:hover {
  transform: scale(1.08);
  color: var(--color-accent-blue);
}

.white {
  color: var(--color-white);
}

.white:hover {
  color: var(--color-accent-blue);
}


@media (max-width: 1280px) {
  .logo {
    font-size: 20px;
  }
}