.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 40px auto 0;
}

.button {
  min-width: 400px;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .options {
    gap: 12px;
    margin-top: 32px;
  }

  .button {
    min-width: 280px;
    margin-top: 24px;
  }
}
