.takeourquiz {
  padding: 80px 64px;
  width: 100%;
  background: #fafafa;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 511px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 111%;
}

.button {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  img {
    height: 488px;
    object-fit: cover;
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .takeourquiz {
    padding: 60px 24px;
  }

  .container {
    flex-direction: column;
    gap: 32px;
    max-width: 420px;
    margin: 0 auto;
  }

  .reverse {
    flex-direction: column;
  }

  .content {
    max-width: 100%;
    align-items: center;
    text-align: center;
    gap: 24px;
  }

  .title {
    font-size: 24px;
  }

  .button {
    width: 100%;
    justify-content: center;
  }

  .image {
    img {
      height: 500px;
      object-position: -100px 0;
    }
  }
}
