.imageContainer {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  min-width: 400px;
}

@media (max-width: 1280px) {
  .imageContainer {
    margin: 32px auto;
  }

  .button {
    min-width: 320px;
  }
}

@media (max-width: 768px) {
  .button {
    min-width: 280px;
  }
}
