.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 40px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  min-width: 400px;
}

@media (max-width: 768px) {
  .grid {
    gap: 12px;
  }

  .button {
    min-width: 100%;
  }
}
